doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body 
      
        include ../partials/header
        main
            section.section
                .container
                    #step-flow-container
                    
        include ../partials/footer

    script(src="../js/app.js")
    br
    script(src="../js/chart.js")
      