doctype html
html(lang='zh-TW')
    head
        include ../partials/head
        style.
          canvas {
            width: 100vw;
            height: 100vh;
          }
    body 
      
        include ../partials/header
        
        canvas#bubble
                    
        include ../partials/footer

    script(src="../js/app.js")
    br
    //- script(src="../js/larva.js")
    script(src="../js/bubble.js")
      