doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body.parallax
      
        include ../partials/header
        main
            section.section.slide-1
                .heading
                    h1.title.is-1 Heading 1
                    p.subtitle description
            section.section.slide-2
                .heading
                    h1.title.is-1 Heading 2
                    p.subtitle description
            section.section.slide-3
                .heading
                    h1.title.is-1 Heading 3
                    p.subtitle description
            section.section.slide-4
                .heading
                    h1.title.is-1 Heading 4
                    p.subtitle description

            include ../partials/footer

      script(src="/js/app.js")