doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body.pixi
        include ../partials/header
        main
            canvas#pixi
        script(src="../js/pixi-test.js")
