doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body 
      
        include ../partials/header
        main
            .walker-container
                svg(viewBox="0 0 1004 775", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,289 L454,573.609652 L904,289 L454,1.04064658 C158.447408,187.384726 7.11407448,282.812893 0,287.325149" transform="translate(0, 100)" id="wire" stroke="none" fill="none")
                    g(id="path-container" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                        image(xlink:href="../img/walker.png" height="159" width="81" y="50")
                        animateMotion(dur="10s" repeatCount="indefinite")
                            mpath(xlink:href="#wire")
                img.map(src="../img/walker-map.png", srcset="../img/walker-map@2x.png", width="1009")

