doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body 
        include ../partials/header
        main
          .container
            .columns
              .column.is-8
                .content
                  h1 123123
                  p 123123
                  p 123123
                  p 123123
                  p 123123
                  hr
                  h3 123123
                  p 123123
                  p 123123
                  p 123123
        .panel.swipe-panel.transition.out
          .swipe-bar
          .panel-body
            .list.media-list.sortable
              ul
                li
                  .item-content
                    .item-media
                      img(src='//picsum.photos/160/160/?random', width='60')
                    .item-inner
                      .item-title-row
                        .item-title Ordering iterm 1
                      .item-subtitle Beatles
                  .sortable-handler
                  .member-content
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                li
                  .item-content
                    .item-media
                      img(src='//picsum.photos/160/160/?random', width='60')
                    .item-inner
                      .item-title-row
                        .item-title Ordering iterm 2
                      .item-subtitle Beatles
                  .sortable-handler
                  .member-content
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                li
                  .item-content
                    .item-media
                      img(src='//picsum.photos/160/160/?random', width='60')
                    .item-inner
                      .item-title-row
                        .item-title Ordering iterm 3
                      .item-subtitle Beatles
                  .sortable-handler
                  .member-content
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                li
                  .item-content
                    .item-media
                      img(src='//picsum.photos/160/160/?random', width='60')
                    .item-inner
                      .item-title-row
                        .item-title Ordering iterm 4
                      .item-subtitle Beatles
                  .sortable-handler
                  .member-content
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                li
                  .item-content
                    .item-media
                      img(src='//picsum.photos/160/160/?random', width='60')
                    .item-inner
                      .item-title-row
                        .item-title Ordering iterm 5
                      .item-subtitle Beatles
                  .sortable-handler
                  .member-content
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')
                    img(src='//picsum.photos/160/160/?random', width='30')

        script(src="http://code.jquery.com/jquery-1.7.2.min.js")
        //- script(src="https://code.jquery.com/ui/1.8.21/jquery-ui.js")
        script(src="../js/swipe-panel.js")
        script(src="../js/sortable.js")
        //- script(src="../js/jquery.ui.touch-punch.min.js")
        script.

    script.