doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body 
      
        include ../partials/header
        main
            section.section
                .container
                    .columns
                        .column.is-8.is-offset-2
                            figure.fig-table
                                table
                                    caption Imperial to metric conversion factors
                                        p 
                                            i Values are given to three significant figures
                                    thead
                                        tr 
                                            th Product
                                            th.qnt Quantity
                                            th.price Price
                                    tbody
                                        tr 
                                            td(data-title="Product")
                                                .content
                                                    h6.title.is-6 ProductName 
                                                    p.description Product description
                                            td.qnt(data-title="Quantity") 5
                                            td.price(data-title="Price") NT$9,999
                                        tr 
                                            td(data-title="Product")
                                                .content
                                                    h6.title.is-6 ProductName 
                                                    p.description Product description
                                            td.qnt(data-title="Quantity") 2
                                            td.price(data-title="Price") NT$1,111
                                        tr 
                                            td(data-title="Product") 
                                                .content
                                                    h6.title.is-6 ProductName 
                                                    p.description Product description
                                            td.qnt(data-title="Quantity") 3
                                            td.price(data-title="Price") NT$2,111
      
            section.section
                .container
                    .columns
                        .column.is-10.is-offset-1
                            table.table2 
                                thead
                                    tr 
                                        th
                                        th(width='70') 成交
                                        th(width='150') 地址 
                                        th 類型 
                                        th 總價 
                                        th 單價 
                                        th 建坪 
                                        th 地坪 
                                        th 屋齡 
                                        th(width='90') 樓層 
                                        th 格局
                                tbody 
                                    tr 
                                        td.checkbox
                                            figure.image
                                                img.is-pulled-left(src="https://picsum.photos/30")
                                        td 106年 10月
                                        td 台北市ＸＸ區ＯＯ街口口巷ＹＹ樓ＺＺ號
                                        td 電梯大樓/住宅
                                            small.note 有車位
                                        td.total_price 1,520萬
                                        td.single_price 56.12萬
                                        td.build_size 27.15坪
                                            small.note 含車位 7.38 坪
                                        td.land_size 2.71坪
                                        td 18.2年
                                        td 28-29樓/ 29樓
                                        td.with-label 
                                            div 4房2廳2.5衛2室
                                                figure.image.is-pulled-right
                                                    img(src="https://picsum.photos/30")
                                            .labels
                                                span.tag 註
                                                span.tag.is-success.is-outlined 機能佳
                                                span.tag.is-success.is-outlined 有裝潢
                                                span.tag.is-success.is-outlined 近學區
                                                span.tag.is-success 近捷運 中山站
                                                span.tag.is-warning 社區 太子東都
                                    
            section.section
                .container
                    .columns                 
                        .column.is-8.is-offset-2
                            a(href="#test") to target
                            div.target#test 123

        include ../partials/footer

      script(src="/js/app.js")