doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body 
      
        include ../partials/header
        main
            section.section
                .container
                    .columns
                        .column.is-8.is-offset-2
                            figure.fig-table
                                table
                                    caption Imperial to metric conversion factors
                                        p 
                                            i Values are given to three significant figures
                                    thead
                                        tr 
                                            th Product
                                            th.qnt Quantity
                                            th.price Price
                                    tbody
                                        tr 
                                            td(data-title="Product")
                                                .content
                                                    h6.title.is-6 ProductName 
                                                    p.description Product description
                                            td.qnt(data-title="Quantity") 5
                                            td.price(data-title="Price") NT$9,999
                                        tr 
                                            td(data-title="Product")
                                                .content
                                                    h6.title.is-6 ProductName 
                                                    p.description Product description
                                            td.qnt(data-title="Quantity") 2
                                            td.price(data-title="Price") NT$1,111
                                        tr 
                                            td(data-title="Product") 
                                                .content
                                                    h6.title.is-6 ProductName 
                                                    p.description Product description
                                            td.qnt(data-title="Quantity") 3
                                            td.price(data-title="Price") NT$2,111
      
            section.section
                .container
                    .columns
                        .column.is-8.is-offset-2
                            table.table2 
                                thead
                                    tr 
                                        th
                                            label 
                                                input(type="checkbox", name="check-all")
                                        th Name
                                        th Content 
                                        th Date 
                                        th.has-text-right Actions
                                tbody 
                                    tr 
                                        td.checkbox 
                                            label 
                                                input(type="checkbox", name="check[]")
                                        td Dickey Hailee
                                        td 在非洲每60秒就有一分鐘經過!!!
                                        td.date 2017-11-10
                                        td.actions.has-text-right
                                            a.button.is-warning.is-small 
                                                span.icon 
                                                    i.fa.fa-pencil 
                                            a.button.is-danger.is-small
                                                span.icon 
                                                    i.fa.fa-trash 
                                    tr 
                                        td.checkbox 
                                            label 
                                                input(type="checkbox", name="check[]")
                                        td Dickey Hailee
                                        td 在非洲每60秒就有一分鐘經過!!!
                                        td.date 2017-11-10
                                        td.actions.has-text-right
                                            a.button.is-warning.is-small 
                                                span.icon 
                                                    i.fa.fa-pencil 
                                            a.button.is-danger.is-small
                                                span.icon 
                                                    i.fa.fa-trash 
                                    tr 
                                        td.checkbox 
                                            label 
                                                input(type="checkbox", name="check[]")
                                        td Dickey Hailee
                                        td 在非洲每60秒就有一分鐘經過!!!
                                        td.date 2017-11-10
                                        td.actions.has-text-right
                                            a.button.is-warning.is-small 
                                                span.icon 
                                                    i.fa.fa-pencil 
                                            a.button.is-danger.is-small
                                                span.icon 
                                                    i.fa.fa-trash 

                           
            section.section
                .container
                    .columns                 
                        .column.is-8.is-offset-2
                            a(href="#test") to target
                            div.target#test 123

        include ../partials/footer

      script(src="/js/app.js")