doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body.text_draw
        include ../partials/header
        main
          section.section
            canvas
          
        include ../partials/footer

        script(src="../js/text_draw.js")
