doctype html
html(lang='zh-TW')
    head
        include ../partials/head
    body.tween
        include ../partials/header
        main
            #card

        include ../partials/footer

        script(src="../js/tween.js")
