doctype html
html(lang='zh-TW')
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
      title AJA - Xmas
      link(href="../css/app.css" rel="stylesheet")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet")
      script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")

    body.xmas
      //- audio#bg-sound(autoplay loop)
      //-   source(src="../audio/Space_Oddity.mp3")
      //- audio#start-sound
      //-   source(src="../audio/start.mp3")
      //- audio#finish-sound
      //-   source(src="../audio/finish.mp3")

      header
        .container
          nav.navbar
            .navbar-brand
              a.brand(href="http://www.aja.com.tw/")
                img(src="../img/aja@2x.png")
              a.navbar-item(href="#") MERRY CHRISTMAS

      main
        canvas#rocket

        #start-layer.layer.hidden
          p.title.is-1 聖誕老人找不到他的禮物，有些禮盒看起來似乎是空的，還要躲避飄忽不定的星球，你可以幫忙聖誕老人找到禮物並放到身後的雪橇嗎？
          .note
            .left
              h3.title.is-5 SPEED UP/DOWN
              div.box W
              div.box
                .fa.fa-arrow-up
              br
              div.box S
              div.box
                .fa.fa-arrow-down
            .right
              h3.title.is-5 ROTATE LEFT/RIGHT
              div.box A
              div.box D
              br
              div.box
                .fa.fa-arrow-left
              div.box
                .fa.fa-arrow-right

          button#start.button.is-info.is-large.is-inverted.is-outlined START

        #got-gift-layer.layer.hidden
          small 你找到了 &nbsp;
            span#gift-score 0
            | &nbsp; 個禮物

        #finish-layer.layer.hidden
          h1.title.is-1 OOOPS!!!<br>聖誕老人被死星擊落了<br/>你找到了&nbsp;
            //- small Santa Claus fly&nbsp;
            //-   span#final-score 0
            //-   | &nbsp;light year away.
            span#final-scoreGift
            | &nbsp;個禮物<br>還不夠呢再加油吧!
          button#restart.button.is-info.is-large.is-inverted.is-outlined PLAY AGAIN

        .card-content.hidden
          h1.title.white.center.animated.bounceIn MERRY<br>CHRISTMAS
          p.wording.white.center.animated.bounceIn 聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂！

          .gifts
            img.gift-1(src="../img/gift-1.png")
            img.gift-2(src="../img/gift-2.png")
            img.gift-3(src="../img/gift-3.png")

          .snowflakes
            img.snowflakes-1(src="../img/snowflake-1.png")
            img.snowflakes-2(src="../img/snowflake-2.png")
            img.snowflakes-3(src="../img/snowflake-3.png")
            img.snowflakes-4(src="../img/snowflake-4.png")
            img.snowflakes-5(src="../img/snowflake-5.png")

          .santa-cloud
            img(src="../img/santa-claus.png")
          .xmas-plant-img
            img(src="../img/xmas-planet.png")

        .xmas-plant
          img(src="../img/xmas-planet.png")

        //- include ../partials/footer

      //- script(src="/js/app.js")
      script(src="../js/xmas.js")
      script.
        $('#start').on('click', function() {
          $('.xmas-plant').animate({
            bottom: '-=480'
          }, 2000, function() {
            /* stuff to do after animation is complete */
          });
        });