doctype html
html(lang='zh-TW')
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title AJA - Xmas
      link(href="../css/app.css" rel="stylesheet")
      script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")

    body.xmas
      //- audio#bg-sound(autoplay loop)
      //-   source(src="../audio/Space_Oddity.mp3")
      //- audio#start-sound
      //-   source(src="../audio/start.mp3")
      //- audio#finish-sound
      //-   source(src="../audio/finish.mp3")

      header
        .container
          nav.navbar
            .navbar-brand
              a.brand(href="#")
                img(src="../img/aja@2x.png")
              a.navbar-item(href="#") MERRY CHRISTMAS

      main
        canvas#rocket

        #start-layer.layer.hidden
          h1.title.is-1 MERRY<br>CHRISTMAS
          .note
            .left
              h3.title.is-5 SPEED UP/DOWN
              div.box W
              div.box
                .fa.fa-arrow-up
              br
              div.box S
              div.box
                .fa.fa-arrow-down
            .right
              h3.title.is-5 ROTATE LEFT/RIGHT
              div.box A
              div.box D
              br
              div.box
                .fa.fa-arrow-left
              div.box
                .fa.fa-arrow-right

          button#start.button.is-info.is-large.is-inverted.is-outlined START

        #got-gift-layer.layer.hidden
          small YOU HAVE &nbsp;
            span#gift-score 0
            | &nbsp; GIFTS

        #finish-layer.layer.hidden
          h1.title.is-1 OOOOPS, Santa Claus got in a car crash.<br/>
            //- small Santa Claus fly&nbsp;
            //-   span#final-score 0
            //-   | &nbsp;light year away.
            small YOU HAVE&nbsp;
              span#final-scoreGift
              | &nbsp;GIFTS
          button#restart.button.is-info.is-large.is-inverted.is-outlined PLAY AGAIN

        .card-content.hidden
          h1.title.white.center MERRY<br>CHRISTMAS
          p.wording.white.center 聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂，聖誕快樂！

          .gifts
            img.gift-1(src="../img/gift-1.png")
            img.gift-2(src="../img/gift-2.png")
            img.gift-3(src="../img/gift-3.png")

          .snowflakes
            img.snowflakes-1(src="../img/snowflake-1.png")
            img.snowflakes-2(src="../img/snowflake-2.png")
            img.snowflakes-3(src="../img/snowflake-3.png")
            img.snowflakes-4(src="../img/snowflake-4.png")
            img.snowflakes-5(src="../img/snowflake-5.png")

          .santa-cloud
            img(src="../img/santa-claus.png")

        .xmas-plant
          img(src="../img/xmas-planet.png")

        //- include ../partials/footer

      //- script(src="/js/app.js")
      script(src="../js/xmas.js")
      script.
        $('#start').on('click', function() {
          $('.xmas-plant').animate({
            bottom: '-=480'
          }, 2000, function() {
            /* stuff to do after animation is complete */
          });
        });